*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #c04848, #480048);
}

.container {
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    align-items: center;
    margin: 20px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

button {
    margin: 5px;
    align-items: center;
    letter-spacing: 2px;
}